<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DebtRequestsAsyncBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-debtreq-service/services/DebtRequestsAsync"
                binding="basicHttpBinding" bindingConfiguration="DebtRequestsAsyncBinding"
                contract="GisgkhServices.Debt.DebtRequestsAsyncPort" name="DebtRequestsAsyncPort" />
        </client>
    </system.serviceModel>
</configuration>