<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AppealsAsyncBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-appeals-service/services/AppealsAsync"
                binding="basicHttpBinding" bindingConfiguration="AppealsAsyncBinding"
                contract="GKH.Appeals.AppealsAsyncPort" name="AppealsAsyncPort" />
        </client>
    </system.serviceModel>
</configuration>