<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicesBindingAsync">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.dom.gosuslugi.ru/ext-bus-organization-service/services/OrganizationAsync"
                binding="basicHttpBinding" bindingConfiguration="ServicesBindingAsync"
                contract="GisgkhServices.Usl.ServicesPortsTypeAsync" name="defaultPort" />
        </client>
    </system.serviceModel>
</configuration>